<div class="container col-md-12">
  <h1 class="col-md-12" style="text-align: center;"><strong class="text-white">POKE-DEX</strong> </h1>
  <div class="contents col-md-12">

    <form class="form-inline">
      <mat-form-field class="example-form-field" appearance="fill">
        <mat-label style="color: aliceblue;">Search Pokemon Name</mat-label>
        <input matInput type="text" class="text-white" id="searchText" onkeyup="filterPokemons()">
      </mat-form-field>
    </form>
    <div class="col-md-12" style="height: 90%; overflow-y:auto;">
      <div class="row" id="pokeRow">
        <div *ngFor="let pokemon of pokemonHomeDetails" class="col-md-3 mb-4">
          <a>
            <mdb-card>
              <mdb-card-header>
                <h3 class="font-weight-light"><img src="{{pokemon.picture}}" style="height: 50px; width: 50px;"
                    alt="{{pokemon.name}}"> {{pokemon.name | uppercase}}
                </h3>
              </mdb-card-header>
              <mdb-card-body>
                <h1 class="col-md-12" style="text-align: center;">
                  # {{pokemon.id}}
                </h1>
                <div *ngFor="let effec of pokemon.effect_entries">
                  <strong>Effect Entries:</strong>
                  <p class="text-red">{{effec.effect}}</p>
                </div>

              </mdb-card-body>
              <mdb-card-footer>
                <button type="submit" (click)="openDialog(pokemon.url)" class="form-control btn-outline-info">
                  <a class="fa fa-info-circle"> Details </a>
                </button>
              </mdb-card-footer>
            </mdb-card>
          </a>
        </div>
      </div>
    </div>
  </div>
</div>